.open-packs-container .header {
    border-bottom: 3px solid #ccc;
    width: 100%;
}

.open-packs-container .title {
    display: inline-block;
    padding-left: 5%;
    width: 70%;
}

.open-packs-container .button {
    display: inline-block;
    background: #fff;
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}

.open-packs-container .button:disabled {
    background-color: #aaaaaa;
    color: #cccccc;
}

.open-packs-container .button:hover {
    border: 2px solid black;
}

.open-packs-container .secondary-container{
    display: inline-block;
    height: 750px;
    margin-top: 50px;
}

.open-packs-container .grid{
    border: 2px solid darkred;
    width: 13%;
    float: left;
    margin-left: 300px;
    position: relative;
    text-align: center;
}

.open-packs-container .open-packs-zone{
    border: 2px solid darkred;
    border-radius: 50%;
    width: 720px;
    height: 720px;
    float: right;
    margin-right: 400px;
    /*background: url("circle.png") no-repeat;*/
    /*background-size: contain;*/
    position: relative;
}

.open-packs-container .pack-number-div{
    bottom: 0;
    position: absolute;
    padding-left: 100px;
    font-size: 40px;
    padding-bottom: 5px;
    font-weight: bold;
    color: darkorange;
}

.open-packs-container .pack-number{
    display: inline;
}

.open-packs-container .centered-card-pack{
    position: absolute;
    width: 145px;
    height: 215px;
    border: 2px solid darkred;
    top: 255px;
    left: 290px;
}

.centered-card-pack.opened{
    background: url("cardpack.PNG") no-repeat;
    background-size: contain;
}