.open-packs-container{
    color: darkorange;
}

.open-packs-container .header {
    border-bottom: 3px solid #ccc;
    box-shadow: 0px 10px 15px -9px rgba(170,170,170,1);
    width: 100%;
}

.open-packs-container .title {
    display: inline-block;
    padding-left: 5%;
    width: 70%;
    font-size: 20px;
}

.open-packs-container .button {
    display: inline-block;
    background: #fff;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    font-family: Aclonica, serif;
    position: absolute;
    right: 300px;
    margin-top: 35px;
}

.open-packs-container .button:disabled {
    background-color: #aaaaaa;
    color: #cccccc;
}

.open-packs-container .button:hover {
    border: 2px solid black;
}

.open-packs-container .secondary-container{
    display: inline-block;
    height: 760px;
    margin-top: 30px;
}

.open-packs-container .grid{
    border: 2px solid #aaa;
    box-shadow: inset 0px 0px 30px 1px #aaa;
    width: 13%;
    float: left;
    margin-left: 300px;
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
    position: relative;
}

.open-packs-container .packs-div {
    position: absolute;
    top: 258px;
}

.open-packs-container .open-packs-zone{
    border: 2px solid rgb(151, 0, 0);
    box-shadow: inset 0px 0px 150px -7px rgb(151, 0, 0);
    border-radius: 50%;
    width: 720px;
    height: 720px;
    float: right;
    margin-right: 400px;
    position: relative;
}

.open-packs-container .first-pack{
    top: 209px;
    left: 352px;
    position: absolute;
}

.open-packs-container .pack-number-div{
    bottom: 0;
    position: absolute;
    padding-left: 40px;
    font-size: 40px;
    padding-bottom: 3px;
    font-weight: bold;
    color: darkorange;
}

.open-packs-container .pack-number{
    display: inline;
}

.open-packs-container .centered-card-pack{
    position: absolute;
    width: 144px;
    height: 215px;
    border: 2px solid #aaa;
    box-shadow: inset 0px 0px 50px -10px rgba(170,170,170,1);
    top: 255px;
    left: 290px;
}

.centered-card-pack.opened{
    background: url("cardpack.PNG") no-repeat;
    background-size: contain;
}

.open-packs-zone.circle-burn {
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 100px;
    animation: animate-circle 1s ease-in;
    animation-iteration-count: 1;
}

.card-pack.animated.move.explode {
    animation: animate-circle 1s ease-in;
}

@keyframes animate-circle {
    0% {
        box-shadow: inset 0 0 150px -7px rgb(151, 0, 0);
    }
    20% {
        box-shadow: inset 0 10px 0 -7px rgb(151, 0, 0);
    }
    21% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
        box-shadow: inset 0 0 180px -3px rgb(151, 0, 0);
        transform: scale(1, 1);
    }
}

.explosion-pixel{
    height: 1px;
    width: 1px;
    top: 355px;
    left: 355px;
    position: absolute;
    border-radius: 50%;
    border: 1px transparent;
    transition: all 1.5s ease-out;
}

.open-packs-container .particles-div{
    width: 720px;
    height: 720px;
    position: relative;
}