.cards-modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: relative;
    margin: auto;
    width: 80%;
    top: 0;
    height: 100%;
    color: white;
}

.cards-modal p{
    font-size: 17px;
    margin: 0;
    position: relative;
    text-shadow: 2px 0 black;
    color: #fff !important;
}

.modal-card{
    width: 185px;
    height: 307px;
}

.card.modal-card{
    transition: top 0.7s ease-in-out, left 0.7s ease-in-out;
    top: 330px;
    left: 900px;
    animation: neonRed 1.5s ease-in-out infinite alternate;
    background: url("../card.png") no-repeat;
    background-size: contain;
}

@keyframes neonRed {
    from {
        box-shadow: 0 0 35px 2px rgb(107, 0, 24);
    }
    to {
        box-shadow: 0 0 45px 3px #ff675f;
    }
}
