.game-board{
    width: 1400px;
    height: 900px;
    background: url("board.png") no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
    left: -140px;
    top: -140px;
}

.board-border {
    position: relative;
    width: 1000px;
    height: 600px;
    margin-left: 25%;
    top: 140px;
    animation: boardGlow 2s ease-in-out infinite alternate;
    border-radius: 50px;
}

@keyframes boardGlow {
    from {
        box-shadow: 0 0 255px 25px rgb(238, 35, 29);
    }
    to {
        box-shadow: 0 0 255px 25px #6cb499;
    }
}

.turn-button{
    position: absolute;
    top: 42%;
    left: 76%;
    height: 75px;
    width: 130px;
    font-size: 15px;
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 40%;
    box-shadow: none;
}

.turn-button.enemy{
    background: url("enemy-turn-button.png") no-repeat;
    background-size: cover;
}

.turn-button.player{
    background: url("end-turn-button.png") no-repeat;
    background-size: cover;
}

.turn-button:active{
    border: none;
}

.turn-button:hover{
    box-shadow: none;
}

.player-name{
    position: absolute;
    top: 86%;
    left: 593px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 0 #222;
    font-size: 17px;
    color: white;
    z-index: -2;
}

.enemy-health{
    position: absolute;
    top: 25%;
    color: white;
    left: 695px;
}

.player-health{
    position: absolute;
    top: 760px;
    color: white;
    left: 695px;
}

.enemy-mana{
    position: absolute;
    top: 56px;
    color: white;
    left: 838px;
}

.player-mana{
    position: absolute;
    top: 824px;
    color: white;
    left: 866px;
}

.mana-points{
    position: absolute;
    top: 823px;
    color: white;
    left: 930px;
    height: 23px;
    width: 300px;
    text-align: left;
}

.mana-point{
    width: 23px;
    height: 23px;
    background: url("mana.png") no-repeat;
    background-size: contain;
    display: inline-block;
}
.used-mana-point{
    background: url("used-mana.png") no-repeat;
    width: 23px;
    height: 23px;
    background-size: contain;
    display: inline-block;
}

.player-deck{
    position: absolute;
    left: 1163px;
    top: 473px;
    height: 130px;
    width: 64px;
    background: url("deck.png") no-repeat;
    background-size: contain;
    border-radius: 10px;
    z-index: 1;
}

.deck-cards-number{
    padding-top: 54px;
    text-align: center;
    font-size: 25px;
    color: #eee;
    text-shadow: 3px -2px #333;
}

.enemy-deck{
    position: absolute;
    left: 1159px;
    top: 236px;
    height: 130px;
    width: 64px;
    background: url("deck.png") no-repeat;
    background-size: contain;
    border-radius: 10px;
    z-index: 1;
}

.player-hand{
    position: absolute;
    height: 440px;
    width: 1125px;
    top: 470px;
    left: 100px;
    overflow: hidden;
    padding-top: 10px;
    z-index: -1;
}

.enemy-hand{
    position: absolute;
    height: 400px;
    width: 1120px;
    left: 100px;
    top: -25px;
    overflow: hidden;
    padding: 0 30px 30px 30px;
    z-index: -1;
}

.enemy-card{
    height: 305px;
    width: 85px;
    background: url("card-back.png") no-repeat;
    background-size: contain;
    border-radius: 10px !important;
}

.player-card{
    background: url("../open-packs/card-v2.png") no-repeat;
    background-size: contain;
    border-radius: 10px !important;
}

.hand-card{
    height: 130px;
    width: 100px;
}

.player-hand .card{
    width: 80px;
}

.hand-card:hover{
    z-index: 90;
    filter: brightness(150%);
}

.hand-card .card-image {
    top: 20px;
    width: 80px;
    text-align: center;
    color: darkorange;
    text-shadow: 1px 0 black;
    font-size: 13px;
    position: relative;
}

.hand-card .card-name{
    top: 43px;
    width: 80px;
    left: 1%;
    color: #333333 !important;
    text-shadow: 1px 0 white;
    text-align: center;
    font-size: 10px;
    position: relative;
}

.hand-card .card-cost{
    left: 7px;
    width: 80px;
    text-align: left;
    top: 7px;
    font-size: 12px;
    position: relative;
}

.hand-card .card-damage{
    width: 80px;
    top: 110px;
    font-size: 12px;
    left: 11px;
    position: inherit;
    text-align: left;
}

.hand-card .card-health{
    width: 80px;
    top: 110px;
    font-size: 12px;
    left: 68px;
    position: inherit;
    text-align: left;
}

.hand-card .card-num {
    color: #eee;
    text-shadow: 1px 0 black;
}

.enemy-board{
    position: absolute;
    height: 140px;
    width: 952px;
    top: 270px;
    left: 12%;
}

.player-board{
    position: absolute;
    height: 140px;
    width: 952px;
    top: 437px;
    left: 12%;
}

.card-on-board{
    display: inline-block;
    overflow: hidden;
    height: 140px;
}

.enemy-hero{
    height: 145px;
    width: 135px;
    position: absolute;
    top: 100px;
    left: 572px;
    border-radius: 60px;
}

.card-on-board .card-health{
    position: absolute;
    top: 118px;
    left: 73px;
}

.card-on-board .card-damage{
    position: absolute;
    top: 118px;
}

.card-on-board .card-name{
    position: absolute;
    top: 98px;
    text-align: center;
    left: 5px;
}

.zoomed-card{
    z-index: 1;
    height: 382px;
    width: 229.5px;
    position: absolute;
    top: 370px;
    left: 820px;
    border-radius: 15px;
    background: url("../open-packs/card.png") no-repeat;
    background-size: contain;
    box-shadow: 0 0 40px 2px #719ce1;
    display: none;
    color: white;
    font-size: 20px;
    text-shadow: 2px 0 black;
}

.zoomed-card .card-name{
    position: absolute;
    top: 270px;
    text-align: center;
    width: 100%;
    color: #333;
    text-shadow: 2px 0 white;
}

.zoomed-card .card-image{
    position: absolute;
    color: darkorange;
    top: 120px;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.zoomed-card .card-cost{
    position: absolute;
    top: 30px;
    left: 25px;
}

.zoomed-card .card-health{
    position: absolute;
    top: 327px;
    left: 182px;
}

.zoomed-card .card-damage{
    position: absolute;
    top: 326px;
    left: 33px;
}

.possible-move{
    box-shadow: inset 0 0 8px 5px #28B463;
}

.player-board .card .card-image{
    left: 7px;
    top: 30px;
}

.enemy-board .card .card-image{
    left: 7px;
    top: 30px;
}

.enemy-board .hand-card{
    width: 95px;
}

.player-board .hand-card{
    width: 95px;
}

.player-hero{
    height: 145px;
    width: 135px;
    position: absolute;
    top: 610px;
    left: 572px;
    border-radius: 60px;
}

.winner-div{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 900;
    padding-top: 100px;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    vertical-align: middle;
}

.winner-name{
    width: 100%;
    top: 300px;
    text-align: center;
    color: darkorange;
    text-shadow: 1px 0 black;
    font-size: 50px;
    position: relative;
}

.play-again{
    position: relative;
    margin-top: 50px;
    top: 300px;
}