.arena-header {
	padding-top: 5px;
	border-bottom: 3px solid #ccc;
	box-shadow: 0px 10px 15px -9px rgba(170,170,170,1);
	width: 100%;
	display: flex;
}

.arena-title {
	width: 70%;
	margin-left: 5%;
}

.arena-title h1 {
	font-size: 40px;
	margin-top: 22px;
}

.arena-container {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0 0.6%;
}

.arena-content {
    width: 100%;
    float: left;
    /*border: 1px solid green;*/
}

/*Choice Cards*/

.arena-selection {
    width: 70%;
    float: left;
    /*border: 1px solid green;*/
}

.arena-cards {
    max-width: 760px;
    height: 391px;
    margin: 0 auto;
    padding: 0 10px;
    /*float: left;*/
    /*border: 1px solid red;*/
}

/*Graph*/

.arena-graph {
    max-width: 760px;
    height: 100%;
    /*float: left;*/
    margin: 0 auto;
    padding: 0 80px;
    /*border: 1px solid orange;*/
}

.bar {
    width: 50px;
    height: 280px;
    border-radius: 20px;
    background-color: #ddd;
    position: relative;
    margin: 3% 2%;
    float: left;
    /*overflow: hidden; */
}

.progress-0, .progress-1, .progress-2, .progress-3, .progress-4, .progress-5, .progress-6, .progress-7 {
    width: 50px;
    height: 50%;
    bottom: 0px;
    position: absolute;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FF5733;

}

.cost-label {
    width: 50px;
    color: #FF5733;
    position: absolute;
    bottom: -40px;
    text-align: center;
    font-size: 24px;
}

/*Deck*/

.arena-deck {
    width: 30%;
    max-height: 800px;
    float: left;
    overflow: auto;
    position: relative;
}

.deck-card {
    height: 50px;
    border-radius: 10px;
    border: 2px solid #ccc;
    position: relative;
    margin: 1px 0;
}

.card-deck-cost {
    border-radius: 2px;
    background-color: #3977E5;
    width: 30px;
    height: 30px;
    margin: 9px;
    float: left;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
}

.card-deck-name {
    margin: 9px 30px 9px 0;
    width: 50%;
    height: 30px;
    float: right;
    line-height: 30px;
    text-align: right;
    font-size: 24px;
}

.card-arena-view {
	background: url("../open-packs/card.png") no-repeat;
	border-radius: 25px;
	background-size: contain;
	position: relative;
	float: left;
	width: 231px;
	height: 384px;
	margin: 5px 1% 2px 1%;
}

.card-arena-view .card-name {
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    top: 260px;
    font-size: 25px;
    text-shadow: 3px 0 black;
    text-align: center;
    position: absolute;
}

.card-arena-view .card-image {
    font-size: 30px;
    margin: 0 auto;
    height: 100px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    top: 63px;
    right: 2%;
    text-shadow: 3px 0 black;
    position: absolute;
}

.card-arena-view .card-image i {
    position: relative;
    top: 50%;
    left: 3%;
}

.card-arena-view .card-cost {
    left: 10%;
    top: 22px;
    position: absolute;
}

.card-arena-view .card-damage {
    left: 13%;
    top: 320px;
    position: absolute;
}

.card-arena-view .card-health {
    right: 11%;
    top: 320px;
    position: absolute;
}

.card-arena-view .card-num {
    border-radius: 50%;
    color: #eee;
    text-align: center;
    text-shadow: 3px 0 black;
    position: absolute;
    font-size: 35px;
}