.navbar button {
	background: #ddd;
	border: 1px solid #333;
	border-radius: 7px;
	padding: 10px;
	font-family: Aclonica;
	box-shadow: inset 0 0 15px 1px #222;
}

.navbar button:hover {
	box-shadow: inset 0 0 20px 1px #000;
	cursor: pointer;
}