.card-types .header {
	padding-top: 20px;
	border-bottom: 3px solid #ccc;
	box-shadow: 0px 10px 15px -9px rgba(170,170,170,1);
	width: 100%;
	text-align: center;
	display: flex;
}

.card-types .search {
	position: absolute;
	right: 64px;
	margin-top: 30px;
}

.card-types .content {
	padding: 32px;
	width: 100%;
}

.card-types table, .card-types td, .card-types th {
	border: 2px solid #ddd;
	text-align: center;
}

.card-types th{
	padding: 12px;
	box-shadow: inset 0px 0px 20px 1px #aaa;
}

.card-types table {
	width: 100%;
	border-collapse: collapse;
}
.card-types button {
	margin: 4px;
}

.card-types .pages {
	padding: 16px;
}

.card-types .pageButtons {
	float: right;
}

.card-types .itemsPerPage {
	display: inline-block;
	margin: 4px;
}

.searchButton, .searchField{
	display: inline-block;
	background: #fff;
	border: 1px solid black;
	padding: 10px;
	font-family: Aclonica, serif;
}
