html, body {
    margin:0;
    padding:0;    
}
/** {
	border: 2px solid red;
}*/

.add-card-type-header {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRidw_w9ca6ZUrSyB_WYi5kKdw_WWXyYrVJ1fJ913vEFy2UBkfTJg");
	background-repeat: no-repeat;
	background-position: right;
	border-bottom: 3px solid #ccc;
	width: 100%;
	height: 100px;
}

.add-card-type-title {
	display: inline-block;
	padding-left: 5%;
	width: 70%;
}

.add-card-type-buttons {
	display: inline-block;
	width: 25%;
}

.add-card-type-buttons button:hover {
	cursor: pointer;
}

.add-card-type-content {
	background-image: url("https://i.ytimg.com/vi/DGPsaTgSzYQ/maxresdefault.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	float: left;
	width: 100%;
	height: calc(100vh - 130px);
}

/*Card View*/
.card-type-view-container {
	position: relative;
	display: inline-block;
	float: left;
	margin: 80px 0 0 0;
	width: 60%;
	height: calc(100vh - 210px);;
}

.card-type-view {
	background-image: url("https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/37d12f2eb9389b50bd0f455b8735e5dde6116ec3.jpg");
	background-size: 100% 100%;
	position: relative;
	width: 50%;
	height: 80%;
	margin: 0 auto;
}

.card-num {
	border-radius: 50%;
	font-size: 80px;
	color: #eee;
	text-align: center;
	line-height: 50px;
	position: absolute;
	width: 50px;
	height: 50px;
}

.card-name {
	margin: 0 auto;
	position: relative;
	max-width: 300px;
	bottom: -35%;
}

.card-name h2 {
	text-align: center;
}

.card-image {
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	max-width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	top: 15%;
}

.card-image i {
	position: relative;
	top: 30%;
	left: 8%;
}

.card-cost {
	left: 55px;
	top: 35px;
}

.card-damage {
	left: 60px;
	bottom: 25px;
}

.card-health {
	right: 25px;
	bottom: 25px;
}

/*Form*/
.card-type-form {
	display: inline-block;
	float: left;
	position: relative;
	margin: 80px 5% 0 0;
	width: 35%;
	height: calc(100vh - 210px);
}

.card-field {
	position: relative;
	padding: 2% 0 8% 0;
	width: 100%;
}

.card-field > label {
	float: left;
	margin: 5px 1% 5px 0;
	font-size: 24px;
	text-align: right;
	width: 19%;
}

.card-field > input, .card-field > select {
	padding: 5px 0 5px 0;
	width: 80%;
}

.card-field > input:out-of-range {
	background-color: red;
}

.card-field .error {
    visibility: hidden;
    width: 120px;
    background-color: #900;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 52%;
    left: 25%;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 1s;
}

.card-field .error::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #900 transparent;
}

/*images*/
.img-pattern {
	width: 100%;
	z-index: -1;
}