.add-card-type-header {
	border-bottom: 3px solid #ccc;
	width: 100%;
}

.add-card-type-title {
	display: inline-block;
	padding-left: 5%;
	width: 70%;
}

.add-card-type-buttons {
	display: inline-block;
	width: 25%;
}

.add-card-type-content {
	float: left;
	width: 100%;
}

/*Card View*/
.card-type-view-container {
	display: inline-block;
	float: left;
	margin: 80px 0 80px 0;
	width: 60%;
	height: 100%;
}

.card-type-view {
	background: #ccc;
	position: relative;
	width: 50%;
	height: 500px;
	margin: 0 auto;
}

.card-name {
	background: yellow;
	margin: 0 auto;
	position: relative;
	max-width: 300px;
	bottom: -35%;
}

.card-name h2 {
	text-align: center;
}

.card-image {
	border: 2px solid #444;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	max-width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	top: 15%;
}

.card-image i {
	position: relative;
	top: 30%;
}

.card-cost {
	border: 1px solid blue;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	left: -25px;
	top: -25px;
}

.card-damage {
	border: 1px solid red;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	right: -25px;
	bottom: -25px;
}

.card-health {
	border: 1px solid green;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	left: -25px;
	bottom: -25px;
}

/*Form*/
.card-type-form {
	display: inline-block;
	float: left;
	margin: 80px 0 80px 0;
	width: 40%;
}

.card-type-form > form > label {
	float: left;
	margin: 5px 1% 5px 0;
	text-align: right;
	width: 40%;
}

.card-type-form > form > input {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 59%;
}

.card-type-form > form > select {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 59%;
}

.add-card-form > input:out-of-range {
	background-color: red;
}

/*.error {
	width  : 100%;
	padding: 0;

	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 0 0 5px 5px;


	box-sizing: border-box;
}

.error.active {
	padding: 8px;
}*/