* {
	box-sizing: border-box;
}

body{
	background-color: #333  ;
	color: darkorange;
	font-family: Aclonica;
}

button{
	display: inline-block;
	background: #fff;
	box-shadow: inset 0 0 10px 1px #222;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	font-family: Aclonica, serif;
	box-sizing: border-box;
}

button:hover{
	box-shadow: inset 0 0 20px 1px #000;
}