.add-deck-container button {
	margin: 4px;
}

.add-deck-container .header {
	padding-top: 5px;
	border-bottom: 3px solid #ccc;
	box-shadow: 0px 10px 15px -9px rgba(170,170,170,1);
	width: 100%;
	display: flex;
}

.add-deck-container .title {
	width: 70%;
	margin-left: 5%;
}

.add-deck-container .title h1 {
	font-size: 40px;
	margin-top: 22px;
}

.add-deck-container .buttons {
	position: absolute;
	right: 64px;
	margin-top: 30px;
}

.add-deck-container .content {
	height: 100%;
	width: 100%;
}

.add-deck-container .available-cards {
	width: 70%;
	height: 100%;
	border-right: 3px solid #ccc;
	float: left;
	padding: 16px;
	box-shadow: 15px 0px 10px -9px rgba(170,170,170,1);
}

.add-deck-container .choosed-cards {
	width: 30%;
	height: 100%;
	border-left: 3px solid #ccc;
	float: right;
	padding: 16px;
	box-shadow: -15px 0px 10px -9px rgba(170,170,170,1);
}

.add-deck-container .drag-box {
	padding: 16px;
	border: 2px solid #ccc;
	margin: 16px;
	user-select: none;
	background-color: #333  ;
}

.add-deck-container .deck-name {
	width: 100%;
	display: inline-block;
	background: #fff;
	padding: 10px 15px 10px 15px;
	font-family: Aclonica, serif;
	box-shadow: inset 0 0 10px 1px #222;
	border: 1px solid #333;
	border-radius: 5px;
}

.add-deck-container {
	height: 500px;
}