.centered-card-pack.card{
    transition: top 0.7s ease-in-out, left 0.7s ease-in-out;
    top: 330px;
    left: 900px;
    animation: neonRed 1.5s ease-in-out infinite alternate;
    background: url("../card-v2.png") no-repeat;
    background-size: cover;
}
.centered-card-pack.card p{
    color: black;
}

@keyframes neonRed {
    from {
        box-shadow: 0 0 35px 2px rgb(107, 0, 24);
    }
    to {
        box-shadow: 0 0 45px 3px #ff675f;
    }
}
